.container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 var(--mantine-spacing-xs);
}

.card {
    max-width: 100%;
    margin-bottom: 10vh;
    box-shadow: var(--mantine-shadow-lg);

    > div {
        flex-direction: row;
        gap: var(--mantine-spacing-xs);
        align-items: center;
        margin-top: var(--mantine-spacing-xs);

        @media (max-width: $mantine-breakpoint-xs) {
            flex-direction: column;
        }
    }
}

.selectors {
    gap: var(--mantine-spacing-xs);
    min-width: 240px;

    @media (max-width: $mantine-breakpoint-xs) {
        width: 100%;
        min-width: unset;
    }

    > div {
        padding: 0;
        height: 200px;
        overflow-y: auto;
    }
}

.selector {
    button {
        padding: 0 var(--mantine-spacing-xs);
    }

    &:not(:global(.selected)) button {
        color: light-dark(var(--mantine-color-dark-light-color), var(--mantine-color-gray-light-color));

        @mixin hover {
            background-color: light-dark(var(--mantine-color-dark-light-hover), var(--mantine-color-gray-light-hover));
            color: light-dark(var(--mantine-color-dark-light-color), var(--mantine-color-gray-light-color));
        }
    }

    button:first-of-type {
        flex: 1;
    }
}

.selector-main-inner {
    justify-content: flex-start;
}

.selector-main-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    span {
        width: 100%;
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    span:first-of-type {
        line-height: 14px;
    }

    span:last-of-type {
        margin-top: 2px;
        font-size: calc(0.65rem * var(--mantine-scale));
        font-weight: normal;
    }
}

.actions {
    gap: var(--mantine-spacing-sm);

    @media (max-width: $mantine-breakpoint-xs) {
        width: 100%;
    }
}