.rmg-name__zh {
    font-family: Arial, SimHei, STHeitiSC-Medium, PingFangSC-Regular, sans-serif;
}
.rmg-name__en {
    font-family: Arial, sans-serif;
}

:root {
    --rmg-black: black;
    --rmg-grey: gray;
    --rmg-white: white;
}

/* for railmap */
.rmg-stn__mtr--pass {
    stroke: #aaa;
}
