@font-face {
    font-family: 'Vegur';
    src: url('../cdn/Vegur-Regular.otf');
}

@font-face {
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 400;
    src: url('../cdn/noto-serif-tc-v8-latin_chinese-traditional-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Noto Serif SC';
    font-style: normal;
    font-weight: 400;
    src: url('../cdn/noto-serif-sc-v8-latin_chinese-simplified-regular.woff2') format('woff2');
}

.rmg-name__zh {
    dominant-baseline: central;
    font-family: Vegur, Helvetica, Noto Serif KR, Noto Serif JP, Noto Serif TC, Noto Serif SC, HiraMinProN-W6, serif;
}
.rmg-name__en {
    dominant-baseline: middle;
    font-family: Myriad Pro, Vegur, Helvetica, sans-serif;
}

:root {
    --rmg-black: #132647;
    --rmg-grey: #a2aaad;
}
