@import '@mantine/core/styles.css';
@import "@railmapgen/mantine-components/styles.css";

:root {
    background-color: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
    :root {
        background-color: #1A202C;
        color: white;
    }
}

html {
    height: 100%;
    overflow: hidden;
    overscroll-behavior: none;
}

@media (display-mode: standalone) {
    html {
        height: 100vh;
    }
}

body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    width: -webkit-fill-available;
}

div#root {
    height: 100%;
    width: 100%;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);

    .rm-window {
        padding-top: env(safe-area-inset-top);
    }
}

* {
    box-sizing: border-box;
}