@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";

:root {
    background-color: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
    :root {
        background-color: #1A202C;
        color: white;
    }
}

html {
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    width: -webkit-fill-available;
    padding: env(safe-area-inset-top, 20px) env(safe-area-inset-right, 20px) env(safe-area-inset-bottom, 20px) env(safe-area-inset-left, 20px);
}

div#root {
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}