:root {
    background-color: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
    :root {
        background-color: #1A202C;
        color: white;
    }
}

html {
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    padding: env(safe-area-inset-top, 20px) env(safe-area-inset-right, 20px) env(safe-area-inset-bottom, 20px) env(safe-area-inset-left, 20px);
}

div#root {
    /*display: flex;*/
    height: 100%;
    width: 100%;
    /*flex-direction: column;*/
    /*overflow: hidden;*/
    /*position: absolute;*/
}

* {
    box-sizing: border-box;
}