:root {
    background-color: #fafafa;
}

@media (prefers-color-scheme: dark) {
    :root {
        background-color: #303030;
    }
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

div#app {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
}
