@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:600|Noto+Serif+JP:600|Noto+Serif+TC:600|Noto+Serif+SC:600%26display=swap');

/*
Dark Mode
*/
/* :root {
    color-scheme: light dark;
}
@media (prefers-color-scheme: dark) {
    :root {
        background-color: #1e1e1e;
        --mdc-theme-primary: #bb86fc;
        --mdc-theme-background: #121212;
        --mdc-theme-surface: #121212;
        --mdc-theme-error: #cf6679;
        --mdc-theme-on-primary: #000;
        --mdc-theme-on-surface: #fff;
        --mdc-theme-on-error: #000;
        --mdc-theme-text-primary-on-background: white;
        --mdc-theme-text-secondary-on-background: rgba(255, 255, 255, 0.7);
        --mdc-theme-text-hint-on-background: rgba(255, 255, 255, 0.5);
        --mdc-theme-text-disabled-on-background: rgba(255, 255, 255, 0.5);
        --mdc-theme-text-icon-on-background: rgba(255, 255, 255, 0.5);
        --mdc-theme-text-primary-on-light: white;
        --mdc-theme-text-secondary-on-light: rgba(255, 255, 255, 0.7);
        --mdc-theme-text-hint-on-light: rgba(255, 255, 255, 0.5);
        --mdc-theme-text-disabled-on-light: rgba(255, 255, 255, 0.5);
        --mdc-theme-text-icon-on-light: rgba(255, 255, 255, 0.5);
        --mdc-theme-text-primary-on-dark: rgba(0, 0, 0, 0.87);
        --mdc-theme-text-secondary-on-dark: rgba(0, 0, 0, 0.54);
        --mdc-theme-text-hint-on-dark: rgba(0, 0, 0, 0.38);
        --mdc-theme-text-disabled-on-dark: rgba(0, 0, 0, 0.38);
        --mdc-theme-text-icon-on-dark: rgba(0, 0, 0, 0.38);
    }
    .mdc-dialog .mdc-dialog__title {
        color: white;
    }
    .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {color: rgba(255, 255, 255, 0.7);}
    .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
        color: #bb86fc;
    }
    .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading, .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {border-color: rgba(255, 255, 255, 0.5);}
} */
body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: auto;
}

#svgs {
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scrollbar-width: none;
}

#svgs::-webkit-scrollbar, #svgs>div::-webkit-scrollbar {
    display: none;
}

#svgs > div {
    display: flex;
    flex-direction: column;
    left: 100%;
    overflow: scroll;
    width: 0;
    transition: 500ms ease-in-out;
}

#svgs > div.show {
    left: 0;
    width: auto;
    transition: 500ms ease-in-out;
    flex: 0 0 auto;
}


#svgs > div > svg {
    border: 1px solid black;
}

#panels {
    /* flex-grow: 1; */
    overflow: hidden;
}

.panel {
    display: none;
}

.panel--active {
    display: block;
}

.flag-emoji {
    height: 1em;
    margin-right: 0.3em;
}

.mdc-select {
    width: 100%;
}

.mdc-select__anchor {
    width: 100%;
}

.mdc-select__selected-text {
    min-width: auto;
    overflow: hidden;
}

.station-card {
    height: 100px;
}

.station-card__content {
    font-family: sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    letter-spacing: .03125em;
    text-align: center;
}

.int-selection {
    max-width: 100%;
}

@media (max-width: 839px) {
    .mdc-snackbar .mdc-snackbar__surface {
        flex-direction: column;
        align-items: flex-start;
    }

    .mdc-snackbar .mdc-snackbar__actions {
        align-self: flex-end;
        margin-bottom: 8px;
    }
}

.mdc-chip-set.stn-chip-set {
    padding: 12px;
}

.mdc-chip-set.stn-chip-set .mdc-chip {
    height: 55px;
    border-radius: 8px;
    width: calc((100% - 96px) / 6);
    margin: 8px;
    background-color: var(--mdc-theme-surface, #fff);
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
}

@media (max-width: 839px) and (min-width: 480px) {
    .mdc-chip-set.stn-chip-set {
        padding: 8px;
    }

    .mdc-chip-set.stn-chip-set .mdc-chip {
        width: calc((100% - 48px) / 4);
        margin: 6px
    }
}

@media (max-width: 479px) {
    .mdc-chip-set.stn-chip-set {
        padding: 8px;
    }

    .mdc-chip-set.stn-chip-set .mdc-chip {
        width: calc((100% - 24px) / 2);
        margin: 6px
    }
}

.mdc-chip-set.stn-chip-set .mdc-chip__ripple {
    border-radius: 8px;
}

.mdc-chip-set.stn-chip-set .mdc-chip__icon.mdc-chip__icon--leading {
    width: auto;
}

.mdc-chip-set.stn-chip-set span[role="gridcell"] {
    width: 100%;
    overflow: hidden;
}

.stn-chip__text {
    display: block;
    text-align: center;
}

.stn-chip__text--zh {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2rem;
}

.stn-chip-set > div:not(#add_stn) .stn-chip__text--zh {
    font-size: 18px;
    font-family: Helvetica, Noto Serif KR, Noto Serif JP, Noto Serif TC, Noto Serif SC, serif;
    font-weight: 600;
}

.stn-chip__text--en {
    font-family: Helvetica, Arial, sans-serif;
    font-size: .75rem;
    line-height: .9rem;
}

.mdc-chip-set.int-chip-set {
    display: flex;
    overflow-x: scroll;
    flex-wrap: nowrap;
}

.mdc-chip span[role="checkbox"]:focus {
    outline: none;
}

.mdc-chip-set.int-chip-set .mdc-chip {
    flex: 0 0 auto;
    border-radius: 4.5px;
    height: 45px;
    line-height: 1rem;
}

.mdc-chip-set.int-chip-set .mdc-chip__ripple {
    border-radius: 4.5px;
    /* height: 45px; */
}

button#osi_name {
    max-width: 100%;
    padding: 0 8px 0 8px;
    height: 40px;
}

button#osi_name .mdc-button__label {
    line-height: 1rem;
    white-space: nowrap;
    overflow: hidden;
}

#panel_interchange .mdc-list-item__graphic {
    margin-right: 8px;
}

#toggle {
    --mdc-theme-primary: #9a62ea;
    right: 0;
    position: fixed;
    top: 0;
    width: 48px;
    height: 48px;
    overflow: hidden;
    outline: none;
    background: var(--mdc-theme-background);
    box-shadow: none;
    border: 2px solid var(--mdc-theme-primary);
    border-width: 0 0 2px 2px;
    color: var(--mdc-theme-primary);
    border-radius: 0 0 0 10px;
    z-index: 999;
    cursor: pointer;
}

#toggle:before {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 1s all;
    position: absolute;
    z-index: -1;
}

#toggle:hover:before {
    background: var(--mdc-theme-on-surface);
    opacity: 0.05;
}

#toggle .mdc-tab__ripple:hover::before {
    opacity: 0.05;
}

#toggle span.material-icons {
    width: 100%;
    /* height: 100%; */
    display: block;
    text-align: center;
    line-height: 48px;
    font-size: 28px;
}

#toggle.show {
    --mdc-theme-primary: #6200ee;
    height: auto;
}

#toggle ul {
    padding: 0;
    text-align: center;
    margin: 0;
}

#toggle li {
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    border: 1px solid var(--mdc-theme-primary);
    border-width: 2px 0 0 0;
}

