.rmg-line {fill:none}

.rmg-line__gzmtr {stroke-width: 4;}
.rmg-line__gzmtr.rmg-line__pass {
    stroke: #aaa;
    stroke-dasharray:4,4;
}

.Name.Pass {fill: #aaa;}
.Name.Current {fill: #fff;}
.Name.CurrentGZ {fill: #f00;}
.Name.Future {fill: #000;}

.rmg-name__en.rmg-name__gzmtr--station {font-size: 10px;}
.rmg-name__zh.rmg-name__gzmtr--station {font-size: 18px;}
.rmg-name__en.rmg-name__gzmtr--express {font-size: 6.5px;}
.rmg-name__zh.rmg-name__gzmtr--express {font-size: 13px;}

.rmg-name__zh.rmg-name__gzmtr--int {font-size: 12px;}
.rmg-name__en.rmg-name__gzmtr--int {font-size: 8px;}
.rmg-name__en.rmg-name__gzmtr--int-small {font-size: 7px;}

.StnNum{
    font-family: Arial;
    font-size: 14px;
    text-anchor: middle;
    alignment-baseline: central;
}

.rmg-name__zh.rmg-name__gzmtr--direc {font-size: 28px;}
.rmg-name__en.rmg-name__gzmtr--direc {font-size: 14px;}
.rmg-name__zh.rmg-name__gzmtr--direc2 {font-size: 25px;}
.rmg-name__en.rmg-name__gzmtr--direc2 {font-size: 11.5px;}