.rmg-name__zh {
    font-family: Arial, SimHei, STHeiti, PingFangSC-Regular, sans-serif;
}
.rmg-name__en {
    font-family: Arial, sans-serif;
}

rect#outer {
    width: var(--rmg-svg-width);
    height: var(--rmg-svg-height);
    fill: white;
    stroke: none;
}