
.rmg-name__zh {
    dominant-baseline:central;
    font-family: Arial, SimHei, STHeiti, PingFangSC-Regular, sans-serif;
}
.rmg-name__en {
    dominant-baseline:middle;
    font-family: Arial, sans-serif;
}

.rmg-name__gzmtr {
    font-family: Arial, SimHei, STHeiti, PingFangSC-Regular, sans-serif;
}
.rmg-name__gzmtr--white-fg {fill: #fff;}

.rmg-name__gzmtr--station-num {
    font-size: 14px;
    text-anchor: middle;
}
.rmg-name__gzmtr--line-num {
    font-size: 14px;
    text-anchor: middle;
}
.rmg-stn {
    fill: white;
}
.rmg-stn__highlight {
    fill: yellow;
}