/*@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:600|Noto+Serif+JP:600|Noto+Serif+TC:600|Noto+Serif+SC:600%26display=swap');*/
@import url('./fonts_mtr.css');

.rmg-name__zh {
    dominant-baseline: central;
    font-family: Vegur, Helvetica, 'GenYoMin TW', HiraMinProN-W6, serif;
}

.rmg-name__en {
    dominant-baseline: middle;
    font-family: Myriad Pro, Vegur, Helvetica, sans-serif;
}

:root {
    --rmg-black: #132647;
    --rmg-grey: #a2aaad;
}

/* for railmap */
.rmg-stn__mtr {
    fill: #fff;
    stroke-width: 2.69;
    stroke-dasharray: 0;
}

.rmg-line {fill:none}
.rmg-line__mtr {
    stroke-width: 9.68;
}
.rmg-line__mtr:not(.rmg-line__change) {
    stroke: var(--rmg-theme-colour);
}
.rmg-line__mtr.rmg-line__change {stroke-width: 8;}
.rmg-line__mtr.rmg-line__pass {
    stroke: var(--rmg-grey);
}

.Name.Pass {fill: var(--rmg-grey);}
.Name.Current {fill: #fff;}
.Name.Future {fill: var(--rmg-black);}

.rmg-name__en.rmg-name__mtr--station {font-size: 11px;}
.rmg-name__zh.rmg-name__mtr--station {font-size: 18px;}

rect#current_bg {
    fill: var(--rmg-black);
}
