.rmg-name__zh {
    dominant-baseline: central;
    font-family: Arial, SimHei, STHeitiSC-Medium, PingFangSC-Regular, sans-serif;
}
.rmg-name__en {
    dominant-baseline: middle;
    font-family: Arial, sans-serif;
}

rect#strip_gz {
    fill: var(--rmg-theme-colour);
    width: var(--rmg-svg-width);
    transform: translateY(calc(var(--rmg-svg-height) - var(--height, 60px)));
    height: var(--height, 60px);
}

.rmg-name__gzmtr--white-fg {
    fill: #fff;
}

/* for runin */
.rmg-name__en.rmg-name__gzmtr--next2-dest {
    font-size: 8.5px;
}

g#big_sec {
    transform: translate(var(--translate-x), var(--translate-y, 125px));
    --translate-x: calc(var(--rmg-svg-width) / 2);
}

g#big_next {
    --translate-y: calc(var(--rmg-svg-height) / 2 - 40px);
}
g#big_next > g {
    transform: translate(var(--translate-x, 80px), var(--translate-y));
}

g#big_next_2 g:nth-child(1),
g#big_next_2 g:nth-child(2) {
    transform: translate(var(--translate-x, 70px), var(--translate-y));
    --translate-y: calc(var(--rmg-svg-height) / 2 - 70px);
}
g#big_next_2 g:nth-child(3),
g#big_next_2 g:nth-child(4) {
    transform: translate(var(--translate-x, 70px), var(--translate-y));
    --translate-y: calc(var(--rmg-svg-height) / 2 + 40px);
}
g#big_next_2 text:nth-child(1) {
    font-size: 27px;
}
g#big_next_2 text:nth-child(2) {
    font-size: 13px;
}
g#big_next_2 text:nth-child(3) {
    font-size: 18.5px;
}

#runin #arrow {
    transform: translate(var(--translate-x, 300px), var(--translate-y)) scale(0.25) rotate(var(--rotate, 0deg));
    --translate-y: calc(var(--rmg-svg-height) / 2 - 30px);
}

/* for railmap */
.Name.Pass {
    fill: #aaa;
}
.Name.Current {
    fill: #fff;
}
.Name.CurrentGZ {
    fill: #f00;
}
.Name.Future {
    fill: #000;
}

g#line_name {
    transform: translate(var(--translate-x, 0px), -18px) scale(1.5);
}

g#direction_gz {
    transform: translate(var(--translate-x), var(--translate-y));
    --translate-x: calc(var(--rmg-svg-width) * var(--x-percentage, 50) / 100);
    --translate-y: calc(var(--rmg-svg-height) * var(--y-percentage, 70) / 100);
}

g#terminus_gz {
    transform: translate(var(--translate-x), var(--translate-y));
    --translate-x: calc(var(--rmg-svg-width) / 2);
    --translate-y: calc(var(--rmg-svg-height) / 2 - 50px);
}

g.note-box {
    transform: translate(var(--translate-x), var(--translate-y));
    --translate-x: calc(var(--x-percentage, 0) * var(--rmg-svg-width) / 100);
    --translate-y: calc(var(--y-percentage, 0) * var(--rmg-svg-height) / 100);
}
