@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:600|Noto+Serif+JP:600|Noto+Serif+TC:600|Noto+Serif+SC:600%26display=swap');

@font-face {
    font-family: "Vegur";
    src: url("https://wongchito.github.io/RailMapGenerator/fonts/Vegur-Regular.otf");
}
rect#strip {
    fill: var(--rmg-theme-colour);
    width: var(--rmg-svg-width);
    height: 20px;
    transform: translateY(calc(var(--strip-percentage,95) * var(--rmg-svg-height) / 100 - 10px));
}

rect#outer {
    width: var(--rmg-svg-width);
    height: var(--rmg-svg-height);
    fill: white;
    stroke: none;
}

.rmg-name__zh {dominant-baseline:central;}
.rmg-name__en {
    dominant-baseline: middle;
    font-family: Vegur, Helvetica, sans-serif;
}

.rmg-name__char-trad {
    font-family: 
        Vegur, Helvetica,
        Noto Serif KR,
        Noto Serif JP,
        Noto Serif TC,
        Noto Serif SC,
        HiraMinProN-W6,
        serif;
}
.rmg-name__char-cn {
    font-family: 
        Vegur, Helvetica,
        Noto Serif SC,
        Noto Serif TC,
        HiraMinProN-W6,
        serif;
}
.rmg-name__char-jp {
    font-family: 
        Vegur, Helvetica,
        Noto Serif JP,
        Noto Serif KR,
        Noto Serif TC,
        Noto Serif SC,
        HiraMinProN-W6,
        serif;
}
.rmg-name__char-tw {
    font-family: 
        Vegur, Helvetica,
        Noto Serif TC,
        Noto Serif KR,
        Noto Serif JP,
        Noto Serif SC,
        HiraMinProN-W6,
        serif;
}

:root {
    --rmg-black: #132647;
    --rmg-grey: #A2AAAD;
}