name: Build 2

on:
  workflow_call:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    env:
      UAT_REPO_NAME: uat-rail-map-generator

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - run: npm i

      - name: Clone UAT repo
        run: git clone --depth 1 https://wongchito:${{ secrets.ACCESS_TOKEN }}@github.com/wongchito/${{ env.UAT_REPO_NAME }}.git

      - name: Bump resources version
        run: |
          npm i -g npm-check-updates
          ncu -f "/@railmapgen\/rmg-(?\!components).*/" -t patch -u
          npm install

      - name: Build
        run: |
          chmod +x ./scripts/build.sh
          ./scripts/build.sh
